= form_for([@event, @registration]) do |f|
  -if @registration.errors.any?
    #error_explanation
      %h2= "#{pluralize(@registration.errors.count, "error")} prohibited this registration from being saved:"
      %ul
        - @registration.errors.full_messages.each do |msg|
          %li= msg
  %p
    %h2 Questions
    %p
      Please complete these questions so you may be registered.
    %ul
      - @event.questions.each do |q|
        = q.question_text

  .actions
    = f.submit 'Save'
