= semantic_form_for([@event, @registration]) do |f|
  -if @registration.errors.any?
    #error_explanation
      %h2= "#{pluralize(@registration.errors.count, "error")} prohibited this registration from being saved:"
      %ul
        - @registration.errors.full_messages.each do |msg|
          %li= msg
  %p
    %h2 Questions
    %p
      Please complete these questions so you may be registered.

      - Question.where({:event_id => @event.id}).each do |question|
        = question.question_text 
        %br
        = f.fields_for :answers, Answer.new do |g|
          = question.form_type
          - if question.form_type == "text"
            = g.input :answer_text
          - else
            = g.input :answer_text, :as => question.form_type, :options => question.options
          = g.hidden_field :question_id, :value => question.id
          %br

  .actions
    = f.submit 'Save'
