= form_for([@event, @registration]) do |f|
  -if @registration.errors.any?
    #error_explanation
      %h2= "#{pluralize(@registration.errors.count, "error")} prohibited this registration from being saved:"
      %ul
        - @registration.errors.full_messages.each do |msg|
          %li= msg
  %p
    %h2 Questions
    %p
      Please complete these questions so you may be registered.

      - @event.questions.each do |question|
        = question.question_text 
        %br
        = f.fields_for :answers, Answer.new do |g|
          = g.text_field :answer_text
          %br

  .actions
    = f.submit 'Save'
