%h1= @event.name

%p
  %b Address:
  = @event.location.address
%p
  %b Starts at:
  = @event.start_time.strftime("%b %e at %r")
%p
  %b Ends at:
  = @event.end_time.strftime("%b %e at %r")
%p
  %b Notes:
  = @event.notes

%hr

%div
  %p This event has a capacity of #{@event.capacity}.
  %p Currently, #{@event.active_registrations_count} people have registered.

- if @current_user
  %p
    - if @current_user.registered_for?(@event)
      You are registered for this event.
      = form_for([@event, @current_user.registration_for(@event)]) do |f|
        = hidden_field_tag :withdraw, true
        .actions
          = f.submit 'Withdraw registration'
    - else
      You are not registered for this event.
      = link_to 'Register', new_event_registration_path(@event)

= link_to 'Edit', edit_event_path(@event)
\|
= link_to 'Back', events_path
